

    <div class="container">

        <div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">PMS</span></legend>
                {{test}}

                <div class="body">
                    <label>Username</label>
                    <input type="text" ng-model="login.name">

                    {{name}}

                    <label>Password</label>
                    <input type="password" ng-model="login.password">

                    {{password}}
                </div>

                <div class="footer">

                    <button class="btn btn-success" ng-click="logIn(login.name, login.password)">Login</button>
                </div>

            </form>
        </div>

    </div>

    <footer class="white navbar-fixed-bottom">
      Don't have an account yet? <a href="" class="btn btn-black">Register</a>
    </footer>
