

    <div class="container">

        <div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">PMS</span></legend>

                <div class="body">
                    <label>Username</label>
                    <input type="text">

                    <label>Password</label>
                    <input type="password">
                </div>

                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                    </label>

                    <button type="submit" class="btn btn-success">Login</button>
                </div>

            </form>
        </div>

    </div>

    <footer class="white navbar-fixed-bottom">
      Don't have an account yet? <a href="register.html" class="btn btn-black">Register</a>
    </footer>
